@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { @apply bg-gray-950; }
::-webkit-scrollbar-thumb { @apply bg-slate-700 rounded-full; }
